@import "../../styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 20px;
  border-bottom: 1px solid $dirty-white;
}

.answersCount {
  display: flex;
  flex-direction: column;
  color: $light-green;
}

.heading {
  font-size: 21px;
  font-weight: bold;
}

.hovered {
  &:hover {
    color: $dark-violet;
    cursor: pointer;
  }
}

.description {
  margin: 16px 0;
  font-size: 15px;
  line-height: 24px;
}

.counterWrapper {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  margin-bottom: 6px;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subsWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.divider {
  width: 100%;
  background: #dcdcdc;
  height: 1px;
  margin: 20px 0;
}

.btn {
  width: 150px;
}

.threadFullWrapper {
  width: 100%;
}
