@import "../../styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-bottom: 1px solid $dirty-white;
}

.treadAuthor {
  color: $black;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.treadAuthorBox {
  font-size: 12px;
  color: $white;
  display: flex;
  background: $dark-violet;
  box-shadow: -5px 5px $gray;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  text-transform: uppercase;
  margin-right: 8px;
}

.answersCount {
  display: flex;
  flex-direction: column;
  color: $light-green;
}

.heading {
  font-size: 21px;
  font-weight: bold;
}

.hovered {
  &:hover {
    color: $dark-violet;
    cursor: pointer;
  }
}

.description {
  margin: 16px 0;
  font-size: 15px;
  line-height: 24px;
}

.treadMetaInfo {
  color: $light-gray;
  display: flex;
  font-size: 13px;
  width: 100%;
  align-items: flex-end;
}

.counterWrapper {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  margin-bottom: 6px;
}

.divider {
  margin: 0 8px;
}

.icon {
  max-width: 20px;
  max-height: 20px;
  margin-right: 6px;
}